.svg-flat-mascot {
	background: url("svg/sprite.view.svg") 74.03123192596877% 80% no-repeat;
}

.svg-flat-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-flat-text {
	background: url("svg/sprite.view.svg") 100% 20% no-repeat;
}

.svg-flat-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-lite-mascot {
	background: url("svg/sprite.view.svg") 14.806246385193754% 80% no-repeat;
}

.svg-lite-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-lite-text {
	background: url("svg/sprite.view.svg") 0 20% no-repeat;
}

.svg-lite-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-original-mascot {
	background: url("svg/sprite.view.svg") 0 80% no-repeat;
}

.svg-original-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-original-text {
	background: url("svg/sprite.view.svg") 0 40% no-repeat;
}

.svg-original-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-outline-lite-mascot {
	background: url("svg/sprite.view.svg") 44.418739155581264% 80% no-repeat;
}

.svg-outline-lite-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-outline-lite-text {
	background: url("svg/sprite.view.svg") 100% 0 no-repeat;
}

.svg-outline-lite-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-outline-mascot {
	background: url("svg/sprite.view.svg") 0 100% no-repeat;
}

.svg-outline-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-outline-text {
	background: url("svg/sprite.view.svg") 100% 40% no-repeat;
}

.svg-outline-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-outline-white-mascot {
	background: url("svg/sprite.view.svg") 29.612492770387508% 80% no-repeat;
}

.svg-outline-white-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-outline-white-text {
	background: url("svg/sprite.view.svg") 0 60% no-repeat;
}

.svg-outline-white-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-solid-mascot {
	background: url("svg/sprite.view.svg") 59.224985540775016% 80% no-repeat;
}

.svg-solid-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-solid-text {
	background: url("svg/sprite.view.svg") 100% 60% no-repeat;
}

.svg-solid-text-dims {
	width: 1985px;
	height: 512px;
}

.svg-solid-white-mascot {
	background: url("svg/sprite.view.svg") 88.83747831116253% 80% no-repeat;
}

.svg-solid-white-mascot-dims {
	width: 512px;
	height: 512px;
}

.svg-solid-white-text {
	background: url("svg/sprite.view.svg") 0 0 no-repeat;
}

.svg-solid-white-text-dims {
	width: 1985px;
	height: 512px;
}

